<!DOCTYPE html>
<html lang="ES">

<%- include('../partials/head',{
	title: 'carrito'
}) %>

<body>
	<%- include('./partials/header') %>

    <h1>carrito</h1>

	<%- include('./partials/footer') %>

</body>
</html>